@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

// Typography
$font-family: 'Source Sans Pro', sans-serif;
$small-font-size: 14px;
$x-small-font-size: 12px;

// Spacing
$space-1: 8px;
$space-2: 16px;
$space-3: 32px;
$space-4: 64px;

// Layout
$header-height: 96px;
$content-inner-width: 950px;
$sidebar-width: 240px;
